body{
    margin: 0;
}

header{
    background-color: #F15B31;
    color: #FFFFFF;
    padding: 30px 20px 30px 20px;
}

h1, h2{
    margin: 0;
    text-align: center;
}

nav{
    background-color: #00A6B3;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
}

nav a {
    padding: 0 20px;
    color: #FFFFFF;
    
}

main{
    width: 850px;
    margin: 35px auto;
}

img{
    margin: 40px 8px 0 8px;
}

footer{
    background-color: #0D2C40;
    color: white;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .08rem;
    padding: 0 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-transform: uppercase;
}

.copyright{
    float: left;
    font-family: 'Raleway', sans-serif;
} 

.message{
    float: right;
    font-family: 'Raleway', sans-serif;
}

.name{
    color: #F15B31;
    font-weight: 700;
}

a{
    border-bottom: 2px solid transparent;
}

a:hover{
    border: white;
    background-color: tomato;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
    }